# /home/josec/Travail/ucsp/.env
SUDO_PASS="mipassword"
SSH_PASS="mipassword"

NODE_1_NAME="scorpius03"
NODE_1_IP="192.168.3.86"

NODE_2_NAME="leo02"
NODE_2_IP="192.168.3.87"

NODE_3_NAME="arrakis"
NODE_3_IP="192.168.3.89"

# SSH
SSH_USER="josec"

# Rutas remotas (workers)
RESULTS_REMOTE_DIR="/home/josec/results"
REMOTE_SCRIPT_DIR="/home/josec/utils-scripts"

# Rutas locales (muaddib)
RESULTS_LOCAL_DIR="/home/josec/Travail/ucsp/results"

# Subdirectorio de scripts dentro de SCRIPT_DIR (run-experiment.sh)
SCRIPTS_SUBDIR="Llapa/scripts"

# TeaStore
TEASTORE_PORT="30080"

PROM_URL="http://localhost:9090"