# /home/josec/Travail/ucsp/.env
SUDO_PASS="mipassword"
SSH_PASS="mipassword"

NODE_1_NAME="scorpius03"
NODE_1_IP="192.168.3.86"

NODE_2_NAME="leo02"
NODE_2_IP="192.168.3.87"

NODE_3_NAME="arrakis"
NODE_3_IP="192.168.3.89"

# For collect results script
RESULTS_REMOTE_DIR="/home/josec/results"
RESULTS_LOCAL_DIR="/home/josec/Travail/ucsp/results"
